@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

.iconify {
  display: block;
}

@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

body {
  height: 100%;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

header, footer {
  padding: 1em 5%;
}

h2 {
  font-size: 1.5em;
  text-align: justify;
  color: #566573;
  padding: 0.4em;
}

@media only screen and (max-width: 700px) {
  h2 {
    text-align: center;
  }
}

/* COMIENZO HEADER */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #566573;
}

header span {
  font-size: 60px;
  font-weight: normal;
  color: #617ac7;
  margin: 10px;
}

header p {
  color: #434046;
  font-size: 25px;
  padding-bottom: 0;
  padding-top: 0;
  padding-left: 10px;
  text-decoration: overline;
}

@media only screen and (max-width: 750px) {
  header p {
    text-decoration: none;
  }
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #bdb9b3;
  height: auto;
  border-radius: 5px;
  padding: 5px 5px;
}

header .menu li {
  border-right: 2px solid #566573;
  padding-right: 1em;
  list-style: none;
}

header .menu a {
  color: #566573;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0.1em;
}

header .menu a:hover {
  background-color: #f8c471;
  border-radius: 5px;
  padding: 0.1em;
}

header .menu a:active {
  -webkit-text-decoration: underline 3px;
          text-decoration: underline 3px;
  text-underline-offset: 0.2em;
}

header .menu--md {
  display: none;
}

header .menu--sm {
  display: block;
  padding: 0.5em;
  cursor: pointer;
}

header .menu #menu-btn:checked ~ .menu--md {
  position: absolute;
  top: 18%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 1em;
  padding: 1em;
  -webkit-animation: scale-in-ver-top 700ms both;
          animation: scale-in-ver-top 700ms both;
}

header .menu #menu-btn:checked ~ .menu--md li {
  border-right: none;
  font-size: 0.7em;
}

@media only screen and (min-width: 1024px) {
  header .menu--sm {
    display: none;
  }
  header .menu--md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1em;
  }
}

/* FIN HEADER */
/* COMIENZO FOOTER */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
  background-color: #434046;
  background-image: -webkit-gradient(linear, left top, right top, from(#434046), color-stop(#3e3c41), to(#272729));
  background-image: linear-gradient(to right, #434046, #3e3c41, #272729);
  width: 100%;
  height: auto;
}

footer .logo-ft span {
  color: #617ac7;
  font-size: 1em;
}

footer .logo-ft p {
  color: #566573;
  font-size: 1.5em;
  text-decoration: overline;
  word-spacing: 0.1em;
}

footer .fa-instagram {
  color: #566573;
}

footer .instagram a {
  font-size: 1.6em;
}

footer .instagram span {
  color: #566573;
  font-size: 1.2em;
}

footer .enlace-ft a {
  background-color: #617ac7;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4em;
  text-decoration: none;
  border: solid 2px;
  color: #434046;
  border-radius: 7px;
  padding: 5px;
}

footer .enlace-ft a:hover {
  background-color: #f8c471;
}

@media only screen and (min-width: 850px) {
  .container-ft {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 20vh;
  }
  .logo-ft p {
    padding-right: 2.5em;
  }
}

/* FIN FOOTER */
/* COMIENZO MAIN */
main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #f8c471;
}

main h1 {
  color: #566573;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
  word-spacing: 8px;
  padding: 30px;
  -webkit-text-decoration: overline #566573;
          text-decoration: overline #566573;
}

@media only screen and (max-width: 660px) {
  main h1 {
    text-decoration: none;
  }
}

main h1 span {
  color: #617ac7;
  font-size: 50px;
}

main img {
  height: auto;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  display: block;
}

/* FIN MAIN */
/* COMIENZO NOSOTROS */
.contenedor-nos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5em;
  margin: 2em;
}

.contenedor-nos .parrafo-nos {
  height: auto;
  width: 100%;
  border-radius: 10px;
  margin: 0.5em;
  padding: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contenedor-nos p {
  font-size: 1.5em;
  text-align: justify;
  color: #566573;
  line-height: 1.3em;
  padding: 0.4em;
}

.contenedor-nos img {
  border-radius: 10px;
  margin: 0.5em;
  margin-left: 0.2em;
}

@media only screen and (max-width: 1000px) {
  .contenedor-nos img {
    display: none;
  }
  .contenedor-nos .contenedor-nos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-nos p {
    font-size: 1.3em;
    line-height: 1.1em;
  }
}

@media only screen and (max-width: 630px) {
  .contenedor-nos p {
    font-size: 1.2em;
    line-height: 1.2em;
    text-align: center;
  }
}

/* FIN NOSOTROS */
/* COMIENZO SERVICIOS */
.main-serv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.main-serv .col-uno li, .main-serv .col-dos li, .main-serv .col-tres li {
  font-size: 1.6em;
  color: #566573;
  padding: 0.3em;
  border-bottom: solid 0.1px #566573;
}

.main-serv .col-uno i, .main-serv .col-dos i, .main-serv .col-tres i {
  display: block;
  color: #617ac7;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

@media only screen and (min-width: 760px) {
  .main-serv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-serv .col-uno, .main-serv .col-dos, .main-serv .col-tres {
    height: auto;
    width: 300px;
    padding-bottom: 1em;
  }
  .main-serv .col-uno li, .main-serv .col-dos li, .main-serv .col-tres li {
    font-size: 1.8em;
    padding: 0.2em;
    border-bottom: none;
  }
}

/* FIN SERVICIOS */
/* COMIENZO CENTROS */
.centros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.centros p {
  font-size: 1.2em;
  text-align: left;
  color: #566573;
  line-height: 1.2em;
  padding: 0.3em 1em;
}

.centros span {
  font-size: 1.5em;
  color: #566573;
  padding-left: 0.8em;
  text-decoration: underline;
  text-underline-offset: 0.1em;
}

.centros .cen-rak {
  height: 100%;
  width: auto;
  padding: 15px;
  border-radius: 10px;
  margin: 2rem;
  margin-bottom: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centros .cen-ark {
  height: 100%;
  width: auto;
  padding: 15px;
  border-radius: 10px;
  margin: 2rem;
  margin-bottom: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.centros .img-cen {
  display: none;
}

@media only screen and (min-width: 1024px) {
  .centros {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .centros .cen-rak, .centros .cen-ark, .centros .img-cen {
    height: 340px;
    width: 380px;
    margin: 2em;
    padding: 1em;
    padding-bottom: 0.3em;
  }
  .centros p {
    padding-top: 1em;
    line-height: 1.2em;
  }
  .centros .img-cen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .centros .img-cen img {
    border-radius: 10px;
    margin-right: 2em;
    margin-bottom: 1em;
  }
}

@media only screen and (min-width: 1380px) {
  .centros .img-cen img {
    margin-left: 3em;
  }
}

/* FIN CENTROS */
/* COMIENZO CONTACTO */
.contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .icon-cont {
  height: 100%;
  width: auto;
  padding: 0.5em;
  border-radius: 10px;
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.contacto .fa {
  font-size: 1.5em;
  padding: 1em;
  color: #566573;
}

.contacto .formulario {
  height: auto;
  width: 100%;
  padding: 1em;
  padding-bottom: 1em;
  border-radius: 10px;
  margin: auto;
  margin-right: 2em;
  margin-bottom: 2em;
}

.contacto .formulario label {
  text-align: left;
  font-size: 1.3em;
  color: #566573;
}

.contacto .formulario .in {
  width: 100%;
  height: 2.3em;
  margin-bottom: 0.5rem;
  background-color: #cbd1d6;
  border-radius: 3px;
}

.contacto .formulario .tex {
  width: 100%;
  height: 7em;
  border-radius: 3px;
  text-align: center;
  background-color: #cbd1d6;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0.3em;
  padding-left: 0.3em;
  text-align: justify;
  font-size: 1em;
  color: #434046;
}

.contacto .formulario .enviar {
  background-color: #617ac7;
  border-color: none;
  padding: 1em;
  margin: 0.6em;
  margin-left: 0.1em;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: 600;
  color: #434046;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.contacto .formulario .borrar {
  background-color: #617ac7;
  border-color: none;
  padding: 1em;
  margin: 0.6em;
  margin-left: 0.1em;
  border-radius: 1em;
  font-size: 0.8em;
  font-weight: 600;
  color: #434046;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .contacto {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  .contacto .icon-cont, .contacto .formulario {
    height: 380px;
    width: 500px;
  }
}

/* FIN CONTACTO */
/*# sourceMappingURL=main.css.map */